
								<!-- module_row -->
								<div data-fullwidthvideo="/assets/images/img/Com-4-com-4-mp4.mp4"
									data-css_id="tb_a4mt591" data-lazy="1"
									class="themify_builder_row module_row fullcover fullwidth_row_container tb_14oy961 clearfix wow"
									data-tf-animation="fadeInDown">
									<div class="tf_abs builder_row_cover"></div>
									<div class="row_inner col_align_top tf_box tf_w tf_rel">
										<div data-lazy="1"
											class="module_column tb-column col-full first tb_2i8k591 tf_box">
											<div class="tb-column-inner tf_box tf_w">
												<div data-lazy="1"
													class="themify_builder_sub_row module_subrow tb_m8if591 tf_w clearfix">
													<div class="subrow_inner col_align_top tf_box tf_w">
														<div data-lazy="1"
															class="sub_column module_column tf_box col2-1 first tb_9aqj592 repeat"
															style="margin-bottom: 4%; margin-top: 4%;">
															<div class="tb-column-inner tf_box tf_w">
																<!-- module text -->
																<div class="module module-text tb_8a4q592  repeat "
																	data-lazy="1">
																	<div class="tb_text_wrap">
																		<p>Componente 4: Control y mitigación de
																			emisiones de gases de efecto invernadero y
																			gases contaminantes del parque automotor</p>
																	</div>
																</div>
																<!-- /module text -->
															</div>
														</div>
														<div data-lazy="1"
															class="sub_column module_column tf_box col2-1 last tb_c5ai592 repeat"
															style="margin-bottom: 4%; margin-top: 4%;">
															<div class="tb-column-inner tf_box tf_w">
																<!-- module accordion -->
																<div class="module module-accordion tb_strq592  hover-wow wow"
																	data-behavior="accordion"
																	data-tf-animation_hover="pulse"
																	data-tf-animation="fadeInDown" data-lazy="1">

																	<ul
																		class="ui module-accordion separate  transparent">
																		<li>
																			<div class="accordion-title tf_rel">
																				<a href="#acc-strq592-0"
																					aria-controls="acc-strq592-0"
																					aria-expanded="false">
																					<i class="accordion-icon"><svg
																							class="tf_fa tf-ti-angle-down">
																							<use
																								href="#tf-ti-angle-down">
																							</use>
																						</svg></i> <i
																						class="accordion-active-icon tf_hide"><svg
																							class="tf_fa tf-ti-angle-up">
																							<use href="#tf-ti-angle-up">
																							</use>
																						</svg></i> <span
																						class="tb_title_accordion tf_w">Actividad
																						40: Aprobar e implementar
																						paulatinamente el bus patrón en
																						el Sistema Integrado de
																						Transportes de Lima y
																						Callao</span>
																				</a>
																			</div><!-- .accordion-title -->

																			<div data-id="acc-strq592-0"
																				aria-hidden="true"
																				class="accordion-content tf_hide">
																				<div class="tb_text_wrap">
																					<p><a href="/assets/documents/monitoreo_componente5_actividad40.pdf" download>Descargar documento
																					</a></p>
																				</div>
																			</div><!-- .accordion-content -->
																		</li>
																	</ul>

																</div><!-- /module accordion -->
																<!-- module accordion -->
																<div class="module module-accordion tb_kb9x592  hover-wow wow"
																	data-behavior="accordion"
																	data-tf-animation_hover="pulse"
																	data-tf-animation="fadeInDown" data-lazy="1">

																	<ul
																		class="ui module-accordion separate  transparent">
																		<li>
																			<div class="accordion-title tf_rel">
																				<a href="#acc-kb9x592-0"
																					aria-controls="acc-kb9x592-0"
																					aria-expanded="false">
																					<i class="accordion-icon"><svg
																							class="tf_fa tf-ti-angle-down">
																							<use
																								href="#tf-ti-angle-down">
																							</use>
																						</svg></i> <i
																						class="accordion-active-icon tf_hide"><svg
																							class="tf_fa tf-ti-angle-up">
																							<use href="#tf-ti-angle-up">
																							</use>
																						</svg></i> <span
																						class="tb_title_accordion tf_w">Actividad
																						41: Implementar el Programa de
																						chatarreo en Lima y Callao,
																						priorizando los vehículos que
																						compiten con las líneas del
																						Metro, Metropolitano, Corredores
																						Complementarios, Corredores de
																						Integración y Rutas
																						Alimentadoras</span>
																				</a>
																			</div><!-- .accordion-title -->

																			<div data-id="acc-kb9x592-0"
																				aria-hidden="true"
																				class="accordion-content tf_hide">
																				<div class="tb_text_wrap">
																					<p><a href="/assets/documents/monitoreo_componente5_actividad41.pdf" download>Descargar documento
																					</a></p>
																				</div>
																			</div><!-- .accordion-content -->
																		</li>
																	</ul>

																</div><!-- /module accordion -->
																<!-- module icon -->
																<div class="module module-icon tb_1ftz592  small circle icon_horizontal tf_textl"
																	data-lazy="1">
																	<div class="module-icon">
																		<div class="module-icon-item tf_inline_b">
																			<a
																				href="/monitoreo/">
																				<i
																					class="ui tf_vmiddle tf_textc tf_box transparent"><svg
																						class="tf_fa tf-ti-arrow-left">
																						<use href="#tf-ti-arrow-left">
																						</use>
																					</svg></i>
																				<span class="tf_vmiddle">Regresar</span>
																			</a>
																		</div>
																	</div>
																</div>
																<!-- /module icon -->
															</div>
														</div>
													</div>
												</div><!-- /themify_builder_sub_row -->
											</div>
										</div>
									</div>
									<!-- /row_inner -->
								</div>