
								<!-- module_row -->
								<div data-fullwidthvideo="/assets/images/img/animacion-monitoreo-transporte-mp4.mp4"
									data-css_id="tb_kfb8959" data-lazy="1"
									class="themify_builder_row module_row builder-parallax-scrolling fullwidth_row_container tb_kfb8959 clearfix hide-on-stick"
									style="padding-bottom: 5%;">
									<div class="tf_abs builder_row_cover"></div>
									<div class="row_inner col_align_top tf_box tf_w tf_rel">
										<div data-lazy="1"
											class="module_column tb-column col-full first tb_p2zz959 repeat tf_box">
											<div class="tb-column-inner tf_box tf_w">
												<!-- module text -->
												<div class="module module-text tb_95kx960   " data-lazy="1">
													<div class="tb_text_wrap">
														<p>Monitoreo</p>
													</div>
												</div>
												<!-- /module text -->
												<div data-lazy="1"
													class="themify_builder_sub_row module_subrow repeat tb_zote960 tf_w clearfix">
													<div class="subrow_inner gutter-narrow col_align_top tf_box tf_w"
														data-basecol="3" data-col_mobile="column-full">
														<div data-lazy="1"
															class="sub_column module_column tf_box col3-1 first tb_9vzx960 repeat">
															<div class="tb-column-inner tf_box tf_w">
																<!-- module text -->
																<div class="module module-text tb_01v5960  repeat  hover-wow wow"
																	data-tf-animation_hover="pulse"
																	data-tf-animation="fadeInDown" data-lazy="1">
																	<div class="tb_text_wrap">
																		<p><span style="color: #808080;"><a
																					style="color: #808080;"
																					href="/monitoreo/transportepublico">Componente
																					1: Sistema de Transporte Público
																					Masivo Integrado en Lima
																					Metropolitana y Callao</a></span>
																		</p>
																	</div>
																</div>
																<!-- /module text -->
															</div>
														</div>
														<div data-lazy="1"
															class="sub_column module_column tf_box col3-1 middle tb_z6q0960">
															<div class="tb-column-inner tf_box tf_w">
																<!-- module text -->
																<div class="module module-text tb_wyb3961  repeat  hover-wow wow"
																	data-tf-animation_hover="pulse"
																	data-tf-animation="fadeInDown" data-lazy="1">
																	<div class="tb_text_wrap">
																		<p><span style="color: #808080;"><a
																					style="color: #808080;"
																					href="/monitoreo/transportenomotorizado">Componente
																					2: Desarrollo del modo de transporte
																					no motorizado</a></span></p>
																	</div>
																</div>
																<!-- /module text -->
															</div>
														</div>
														<div data-lazy="1"
															class="sub_column module_column tf_box col3-1 last tb_vw0f961">
															<div class="tb-column-inner tf_box tf_w">
																<!-- module text -->
																<div class="module module-text tb_og15961  repeat  hover-wow wow"
																	data-tf-animation_hover="pulse"
																	data-tf-animation="fadeInDown" data-lazy="1">
																	<div class="tb_text_wrap">
																		<p><span style="color: #808080;"><a
																					style="color: #808080;"
																					href="/monitoreo/gasesefectoinvernadero">Componente
																					4: Control y mitigación de emisiones
																					de gases de efecto invernadero y
																					gases contaminantes del parque
																					automotor</a></span></p>
																	</div>
																</div>
																<!-- /module text -->
															</div>
														</div>
													</div>
												</div><!-- /themify_builder_sub_row -->
												<!-- module icon -->
												<div class="module module-icon tb_oz83961  small circle icon_horizontal tf_textl"
													data-lazy="1">
													<div class="module-icon">
														<div class="module-icon-item tf_inline_b">
															<a href="/home/menu/">
																<i class="ui tf_vmiddle tf_textc tf_box transparent"><svg
																		class="tf_fa tf-ti-arrow-left">
																		<use href="#tf-ti-arrow-left"></use>
																	</svg></i>
																<span class="tf_vmiddle">Regresar</span>
															</a>
														</div>
													</div>
												</div>
												<!-- /module icon -->
											</div>
										</div>
									</div>
									<!-- /row_inner -->
								</div>
								<!-- /module_row -->