								<div data-css_id="tb_74pt736" data-lazy="1"
									class="themify_builder_row module_row fullwidth_row_container tb_74pt736 clearfix">
									<div class="row_inner col_align_top gutter-none tf_box tf_w tf_rel">
										<div data-lazy="1"
											class="module_column tb-column col3-1 first tb_nsai737 repeat tf_box">
											<div class="tb-column-inner tf_box tf_w">
												<!-- module image -->
												<div class="module module-image tb_p6iv235   image-center tf_mw hover-wow wow"
													data-tf-animation_hover="pulse" data-tf-animation="fadeInDown"
													data-lazy="1">
													<div class="image-wrap tf_rel tf_mw">
														<a href="/monitoreo/">
															<img data-tf-not-load="1"
																src="/assets/images/img/M.png"
																width="150" height="150"
																class="wp-post-image wp-image-4056" title="MONITOREO"
																alt="(Metodología de Estimación)"
																srcset="/assets/images/img/M.png 150w, /assets/images/img/M.png 300w, /assets/images/img/M.png 500w"
																sizes="(max-width: 150px) 100vw, 150px" /> </a>

													</div>
													<!-- /image-wrap -->

													<div class="image-content">
														<h3 class="image-title">
															<a href="/monitoreo/">
																MONITOREO </a>
														</h3>

														<div class="image-caption tb_text_wrap">
															(Metodología de Estimación de GEI <b></b>para cada actividad) </div>
														<!-- /image-caption -->
													</div>
													<!-- /image-content -->

												</div>
												<!-- /module image -->
											</div>
										</div>
										<div data-lazy="1"
											class="module_column tb-column col3-1 middle tb_p4pf737 tf_box">
											<div class="tb-column-inner tf_box tf_w">
												<!-- module image -->
												<div class="module module-image tb_1sdi496   image-center tf_mw hover-wow wow"
													data-tf-animation_hover="pulse" data-tf-animation="fadeInDown"
													data-lazy="1">
													<div class="image-wrap tf_rel tf_mw">
														<a href="/reporte/">
															<img decoding="async" loading="lazy"
																src="/assets/images/img/R.png"
																width="150" height="150"
																class="wp-post-image wp-image-4057" title="REPORTE"
																alt="(Acceso para Identidades)"
																srcset="/assets/images/img/R.png 150w, /assets/images/img/R.png 300w, /assets/images/img/R.png 500w"
																sizes="(max-width: 150px) 100vw, 150px" /> </a>

													</div>
													<!-- /image-wrap -->

													<div class="image-content">
														<h3 class="image-title">
															<a
																href="/reporte/">
																REPORTE </a>
														</h3>

														<div class="image-caption tb_text_wrap">
															(Acceso para Entidades que reportan avances de la matriz NAMA TRANSPerú) </div>
														<!-- /image-caption -->
													</div>
													<!-- /image-content -->

												</div>
												<!-- /module image -->
											</div>
										</div>
										<div data-lazy="1"
											class="module_column tb-column col3-1 last tb_3xvg737 tf_box">
											<div class="tb-column-inner tf_box tf_w">
												<!-- module image -->
												<div class="module module-image tb_da1y720   image-center tf_mw hover-wow wow"
													data-tf-animation_hover="pulse" data-tf-animation="fadeInDown"
													data-lazy="1">
													<div class="image-wrap tf_rel tf_mw">
														<a href="/verificacion/">
															<img decoding="async" loading="lazy"
																src="/assets/images/img/V.png"
																width="150" height="150"
																class="wp-post-image wp-image-4058" title="VERIFICACIÓN"
																alt="(Secretaría Técnica CMT NAMA TRANSPerú)"
																srcset="/assets/images/img/V.png 150w, /assets/images/img/V.png 300w, /assets/images/img/V.png 500w"
																sizes="(max-width: 150px) 100vw, 150px" /> </a>

													</div>
													<!-- /image-wrap -->

													<div class="image-content">
														<h3 class="image-title">
															<a href="/verificacion/">
																VERIFICACIÓN </a>
														</h3>

														<div class="image-caption tb_text_wrap">
															(Acceso para verificación de información reportada) </div>
														<!-- /image-caption -->
													</div>
													<!-- /image-content -->

												</div>
												<!-- /module image -->
											</div>
										</div>
									</div>
									<!-- /row_inner -->
								</div>
								<!-- /module_row -->
								<!-- module_row -->
								<div data-css_id="tb_7lmt984" data-lazy="1"
									class="themify_builder_row module_row tb_7lmt984 clearfix">
									<div class="row_inner col_align_top tf_box tf_w tf_rel">
										<div data-lazy="1"
											class="module_column tb-column col3-1 first tb_w2g3986 tf_box">
										</div>
										<div data-lazy="1"
											class="module_column tb-column col3-1 middle tb_htij506 tf_box">
											<div class="tb-column-inner tf_box tf_w">
												<!-- module image -->
												<div class="module module-image tb_nfw7878   image-center tf_mw hover-wow wow"
													data-tf-animation_hover="pulse" data-tf-animation="fadeInDown"
													data-lazy="1">
													<div class="image-wrap tf_rel tf_mw">
														<a href="/dashboard/">
														<img decoding="async" loading="lazy"
															src="/assets/images/img/GEI-1.png"
															width="150" height="150" class="wp-post-image wp-image-4067"
															title="DASHBOARD DE REDUCCIÓN DE GEI"
															alt="DASHBOARD DE REDUCCIÓN DE GEI"
															srcset="/assets/images/img/GEI-1.png 150w, /assets/images/img/GEI-1.png 300w, /assets/images/img/GEI-1.png 500w"
															sizes="(max-width: 150px) 100vw, 150px" />
														</a>
													</div>
													<!-- /image-wrap -->
													<div class="image-content">
														<h3 class="image-title">
															<a href="/dashboard/">
															DASHBOARD CON ESTIMACIONES DE EMISIONES POR ACTIVIDAD 
															</a></h3>
													</div>
													<!-- /image-content -->
												</div>
												<!-- /module image -->
											</div>
										</div>
										<div data-lazy="1"
											class="module_column tb-column col3-1 last tb_4rh6507 tf_box">
										</div>
									</div>
									<!-- /row_inner -->
								</div>